.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    flex-basis: 48%;
    color: #1C2833;
}
.left h3{
    color: #1A535C;
    font-weight: 500;
    font-size: 25px;
}


.left p{
    max-width: 450px;
    line-height: 1.3;
}
.left ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.left ul li img{
    width: 25px;
    margin-right: 10px;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: rgba(86, 84, 98, 0.158);
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.right span{
    display: block;
    margin: 20px 0;
}

@media (max-width:700px) {
    .contact{
        display: block;
    }
    .left{
        padding: 20px;
    }
}